@import '~bootstrap/scss/bootstrap';

* {
  margin: 5px;
}
#button {
  background-color: #2fb86e;
  border-color: #2fb86e;
}
#links {
  text-decoration: none;
  color: #197243;
  font-weight: bold;
}
.signs {
  margin: 5em 0 0 0;
}
