.social-container {
  .post-image {
    width: 300px;
    height: 500px;
    object-fit: cover;
  }
}

.photo-name-post {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .user-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
  }
}
