h5,
small,
p {
  align-items: flex-start;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.edit {
  border: none;
  background-color: transparent;
  display: flex;
}
.delete {
  border: none;
  background-color: transparent;
}
